root = "."
testdata_dir = "testdata"
tmp_dir = ".tmp"

[build]
  args_bin = []
  bin = "./.tmp/main"
  pre_cmd = []
  cmd = "task proto & task build-web-client && go build -tags=dev  -o ./.tmp/main ./cmd/server/main.go"
  post_cmd = []
  delay = 1000
  exclude_dir = ["assets", ".tmp", "vendor", "testdata", ".dist"]
  exclude_file = []
  exclude_regex = ["_test.go", ".*pb.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html", "proto"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = false
  keep_scroll = true
